.success{
    display: flex;
    justify-content: flex-start;
    width: 20rem;
    background-color: #5FC65D !important;
    color: white !important;
}

.error{
    display: flex;
    justify-content: flex-start;
    width: 20rem;
    background-color: #E64E4E !important;
    color: white !important;
}

.alert{
    
}